
/*---------------------------*/
/* 28. Dual Color Heading
/*---------------------------*/
.sr-dual-header {
	display: block;
	margin-bottom: 50px;
}

.sr-dual-header .title,
.sr-dual-header .title span {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 48px;
	margin: 10px 0px;
}

.sr-dual-header .subtext {
	font-size: 16px;
	display: block;
}

.sr-dual-header i {
	display: block;
	padding: 0px;
	margin: 20px 0px 10px 0px;
	font-size: 36px;
}

.sr-dual-header .title span.lead {
	color: #1abc9c;
}

/*--- Dual Header Builder Related Css ---*/
.sr-dual-header-content-align-center {
	text-align: center;
}

.sr-dual-header-content-align-left {
	text-align: left;
}

.sr-dual-header-content-align-right {
	text-align: right;
}


/*------------------------*/
/* 23. Load More Button
/*------------------------*/
.sr-load-more-button-wrap {
	width: 100%;
	display: block;
	margin: 20px auto;
	clear: both;
}

.sr-load-more-button {
	position: relative;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	border: 0;
	padding: 15px 30px;
	z-index: 2;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .25em;
	transition: all .5s;
	overflow: hidden;
}

.sr-load-more-button:hover {
	background: #27bdbd;
}

.sr--hide {
	opacity: 0;
}

.sr-load-more-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sr-load-more-button .button__loader {
	left: -100%;
	top: auto;
	margin-right: 5px;
	transition: all .2s;
}

.sr-load-more-button > span {
	margin-left: -20px;
}

.sr-load-more-button.button--loading > span {
	margin-left: 0;
}

.sr-load-more-button.button--loading .button__loader {
	left: 0;
}

.sr-btn-loader, .sr-btn-loader:after {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}

.sr-btn-loader {
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 4px solid rgba(255, 255, 255, 0.2);
	border-right: 4px solid rgba(255, 255, 255, 0.2);
	border-bottom: 4px solid rgba(255, 255, 255, 0.2);
	border-left: 4px solid #ffffff;
	transform: translateZ(0);
	animation: loaderSpin 1.1s infinite linear;
}

@keyframes loaderSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*------------------------------*/
/* Contact Form 7
/*------------------------------*/
.sr4elementor-contact-form-7
.sr4elementor-contact-form-7 textarea,
.sr4elementor-contact-form-7 input[type="text"],
.sr4elementor-contact-form-7 input[type="password"],
.sr4elementor-contact-form-7 input[type="datetime"],
.sr4elementor-contact-form-7 input[type="datetime-local"],
.sr4elementor-contact-form-7 input[type="date"],
.sr4elementor-contact-form-7 input[type="month"],
.sr4elementor-contact-form-7 input[type="time"],
.sr4elementor-contact-form-7 input[type="week"],
.sr4elementor-contact-form-7 input[type="number"],
.sr4elementor-contact-form-7 input[type="email"],
.sr4elementor-contact-form-7 input[type="url"],
.sr4elementor-contact-form-7 input[type="search"],
.sr4elementor-contact-form-7 input[type="tel"],
.sr4elementor-contact-form-7 input[type="color"],
.sr4elementor-contact-form-7 .uneditable-input {
  -webkit-transition: all linear 0.2s, box-shadow linear 0.2s;
  transition: all linear 0.2s, box-shadow linear 0.2s;
}

/*------------------------------*/
/* Mailchimp
/*------------------------------*/

.sr-form-fields-wrapper, .sr-mailchimp-subscribe {
  -webkit-transition: all linear 0.2s, box-shadow linear 0.2s;
  transition: all linear 0.2s, box-shadow linear 0.2s;
}

.sr-form-fields-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.sr-field-group {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.sr-field-group .sr-mailchimp-input {
    padding: 10px;
    border: none;
	max-width: 100%;
	box-shadow: none;
}

.sr-mailchimp-fields-wrapper.sr-mailchimp-btn-block .sr-mailchimp-submit-btn {
	display: block;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*--- Inline style ---*/
@media only screen and (min-width: 768px) {
	.sr-mailchimp-inline .sr-form-fields-wrapper {
		flex-wrap: nowrap;
	}
}

@media only screen and (max-width: 767px) {
	.sr-mailchimp-inline .sr-field-group.sr-mailchimp-submit-btn {
		flex: 1 100%;
		margin-top: 10px;
	}
}

.sr-mailchimp-inline .sr-field-group {
	flex: 1 1 auto;
	display: flex;
	align-items: flex-end;
}

.sr-mailchimp-inline .sr-mailchimp-input {
	flex: 1 100%;
	margin-right: 5px;
}

.sr-mailchimp-wrap.sr-mailchimp-inline .sr-mailchimp-subscribe {
	margin: 0;
	width: 100%;
}

.sr-form-fields-wrapper.sr-mailchimp-fields-wrapper.sr-mailchimp-btn-block {
	flex-wrap: wrap;
}

.sr-mailchimp-inline .sr-mailchimp-fields-wrapper.sr-mailchimp-btn-block .sr-mailchimp-submit-btn {
	flex: 1 100%;
}

/*--- Stacked style ---*/
.sr-mailchimp-stacked .sr-mailchimp-fields-wrapper .sr-field-group {
	width: 100%;
	margin-bottom: 10px;
}

.sr-mailchimp-stacked .sr-mailchimp-fields-wrapper .sr-field-group label {
	display: block;
	width: 100%;
}

.sr-mailchimp-stacked .sr-mailchimp-fields-wrapper .sr-field-group .sr-mailchimp-input {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	width: 100%;
	max-width: 100%;
}

.sr-mailchimp-stacked .sr-mailchimp-fields-wrapper .sr-field-group.sr-mailchimp-submit-btn {
	flex: 1 100%;
}

.sr-mailchimp-wrap .sr-mailchimp-subscribe {
	margin: 10px 0;
	width: 100%;
}

.sr-field-group label {
	display: block;
}

.sr-mailchimp-message p {
	margin: 0;
}

.sr-mailchimp-message-text-center .sr-mailchimp-message {
	text-align: center;
}

.sr-mailchimp-message-text-left .sr-mailchimp-message {
	text-align: left;
}

.sr-mailchimp-message-text-right .sr-mailchimp-message {
	text-align: right;
}

.sr-mailchimp-message-text-justify .sr-mailchimp-message {
	text-align: justify;
}
